<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}

<html lang="uk">
<head>
    <meta charset="UTF-8">

</head>
{% block content %}
<div class="container">

    <div class="card mt-3">
        <h3 class="card-header text-center">Login</h3>
        <div class="card-body">
            <form class="form" role="form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
</html>