<!DOCTYPE html>
{% extends 'main.html' %}
<html lang="uk">
<head>
    <meta charset="UTF-8">

</head>


        {% block content %}
        <a href="/">Back</a>
        <div class="card-group" style="mb-2">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                 <div class="card-header">Profile</div>
                        <p>nickname: @{{ user.username}} </p>
                        <p> date of joining: {{ user.date_joined }} </p>
                        <p> last login: {{ user.last_login }} </p>
                        <p> {{n_task}} task created </p>
                </div>
           <div class="card border-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">Information about statuses of task:</div>
                <div class="card-body">
                    {% for s in status %}
                        <h5 class="card-title">{{s.name}}</h5>
                        <p class="card-text">{{s.description}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endblock %}

</html>