<!DOCTYPE html>
{% extends 'main.html' %}
<html lang="uk">
<head>
        <meta charset="UTF-8">
</head>
<body>

        {% block content %}
        <a href="/">Back</a>
        <div class="card" style="width: 18rem;">
                <div class="card-header "><a href="{%url 'task' task.id%}">{{task.title}}</a></div>
                    <div class="card-body">
                        <p class="text-info"> assignee: {{task.assignee}} </p>
                        <p class="card-text">{{task.description}}</p>
                        <p class="font-italic text-muted">{% if task.edited%}  edited {{task.updated|date:'H:i d.m.Y '}}{% endif %} </p>
                        <p class="font-italic text-muted"> created {{task.created|date:'H:i d.m.Y '}} </p>

                    </div>
            </div>
        {% endblock %}
</body>
</html>